<% include ./partials/header %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('<%= foundBlog.comImage %>')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1><%= foundBlog.title %></h1>
              <span class="subheading"><%= foundBlog.subTitle %></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <!-- Main Content -->
        <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p><%= foundBlog.date %></p>
            <!--added dash instead of = renders the blog as html-->
            <%- foundBlog.blog %>
          </div>
        </div>
      </div>
  
      <hr>
  
  
<% include ./partials/footer %>