<% include ./partials/header %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e521f1ad359392508e578117b584f891&auto=format&fit=crop&w=1950&q=80')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>My Travel Blog</h1>
              <span class="subheading">Adventure Awaits</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">

    <!--post.postTitle - post is what is passed through in function-->
      <% posts.forEach(function(post){ %>

      
      <div class="row">
        <div class="col-lg-3 mx-auto">
          <img class="img-thumbnail" src="<%= post.comImage %>" alt="<%= post.title %>">
        </div>
        <div class="col-lg-7 mx-auto">
          <div class="post-preview">
            <a href="/blogs/<%= post._id %>">
              <h2 class="post-title">
                <%= post.title %>
              </h2>
              <h3 class="post-subtitle">
                <%= post.subTitle %>
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="<%= post.postLink %>" target="_blank"> Sara Bracewell</a>
              on <%= post.date %> </p>
          </div>
        </div>

        <%if (currentUser) { %>
        <div class="col-lg-2 mx-auto">
        <!--can add data method to delete button though this is an additional npm package to do this or use rails/angular data-method="delete"-->
          <button id="delete" class="btn btn-primary mb-3 mt-3" style="padding:15px 12px;"  type="button" data-id="<%=post._id%>">Delete</button>
          <!--<form action="/blogs/<%=post._id%>" method="DELETE">
            <button style="margin-top:20px;" class="btn btn-primary mb-3 mt-3" style="padding:15px 12px;" id="delete">Delete Blog</button>
          </form>-->
          <!--<a type="submit" class="btn btn-primary mb-3 mt-3" id="delete" href="/deleteblogs/<%=post._id%>">Delete</a>-->
          <a type="submit" class="btn btn-secondary" id="edit" href="/blogs/<%=post._id%>/edit">Edit</a>
        </div>
        <% } %>
  
      </div>

      <hr>
      
      <% }) %>
      
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>

    </div>

    <hr>


  <!-- Custom scripts for this template -->
  <!-- <script src="js/clean-blog.js"></script> -->
  <!-- Bootstrap JavaScript jquery was removed as the one suggested does not have ajax-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  //this does NOTHING! WHY?!!!
    $(document).ready(function(){
      //delete button not working correctly
      //on click not noticed
      $("#delete").on("click", function(event) {
        
        alert('the delete button was clicked');
        console.log('the delete button was clicked');
        
        // $.ajax({
        //   url:"/blogs/:blogId",
        //   method:"DELETE",
        //   blogDeleted: blogDeleted
        // })
        // .fail(function() {
        //   alert( "error: ", err );
        // })
        // .catch(function(err){
        //   console.log('delete is not working: ', err);
        // })
        // .then(function(blogDeleted){
        //   console.log("Blog was deleted: ", blogDeleted);
        // });
      });

      // $("#edit").on("click", function(event){
      //   // alert('the edit button was clicked');
      //   //the user is then taken to the updateBlog page and allowed to edit the blog
      //   //using the link from a href
      // });
    });
  </script>

  <% include ./partials/footer %>
